:root {
    --main-title-color: #2e2f42;
    --background-color:#2E2F42;
    --ocean-bgc-hover-focus-active-color:#404bbF;
    --second-title-color: #FFFFFF;
    --gray-title-color: #434455;
    --milk-title-color: #F4F4FD;
}

body {
  font-family: "Roboto", sans-serif;
 color:var(--gray-title-color);
  background-color:var(--second-title-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:focus, 
.link:hover{
color: #404bbf;
opacity: 1
}
/*/--Header--*/
 .header {
}
.header-navigation {
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo-main {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--main-title-color);
}

.header-list { 
     font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color); 
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-address {
 font-style: normal;
 font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray-title-color);
    }
.header-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray-title-color);
}
/*/----HERO-----*/
.hero {
background-color:var(--background-color);
}
.hero-item {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--second-title-color);
  background: #4D5AE5;
  cursor: pointer;
  border: transparent;
}
.hero-btn:hover {
background-color: var(--ocean-bgc-hover-focus-active-color);
}
.hero-btn:focus {
background-color:var(--ocean-bgc-hover-focus-active-color);
}

/*/--ABOUT--*/
.about-us {
}
.about-list {
}
.about-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-title-color);
cursor: pointer;
}
.about-text {
 font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--gray-title-color);
cursor: pointer;
}
/*/--WHAT--*/
.what {
}
.what-title {
 font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color);
cursor: pointer;
}
.what-list {
}
/*/--TEAM--*/
.team {
background-color: var(--milk-title-color);
}
.team-personal {
background-color: var(--second-title-color); 
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color);
background-color: var(--second-title-color)
}
.team-list {
}

.team-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em; 
color: var(--main-title-color); 
background-color:var(--second-title-color)

}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--gray-title-color);
background-color: var(--second-title-color)
}
/*/--FOOTER--*/
.footer {
background-color: var(--background-color)
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4D5AE5; 
cursor: pointer;
}
.footer-navigation-main {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--milk-title-color);
cursor: pointer;
}
.footer-text {
 font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
cursor: pointer;
}
/*/--PORTFOLIO--*/
/*/--NOVIGATION--*/
.novigation {
 background-color: #E5E5E5;
}
.novigation-list {
}
.novigation-btn {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;     
    color: #4d5ae5;
    background-color:  var(--milk-title-color);
    cursor: pointer;
    border: transparent;
}
.novigation-btn:hover,
.novigation-btn:focus {
 color: var(--second-title-color);
background-color: #404BBF
}

.services-list{

}
.services-link{

}
.services-item {

}
.services-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-title-color);
}
.services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray-title-color);
}
